.bg-view {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &__top-menu-ad {
    width: 892px;
    height: 344px;
    &-first {
      background-image: url("../../imgs/top-menu-ad-first.png");
    }
    &-second {
      width: 808px !important;
      height: 344px;
      background-image: url("../../imgs/top-menu-ad-second.png");
    }
  }
}
