@import "../mixin";

.top-header {
  &__select {
    .ant-select-selector {
      background-color: transparent !important;
      border: none !important;
      color: #fff;
    }
    .ant-select-arrow {
      color: #fff;
    }
  }

  @include media(570px) {
    &__wrapper {
      &-texts {
        h1 {
          font-size: 10px;
        }
        a {
          font-size: 10px;
        }
      }
    }
  }
}
